.coin-row {
  width: 100%;
  display: grid;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  grid-template-columns: 3rem repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;

  .fav-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .favorite-icon {
      width: 1rem;
    }
  }

  .coin-info {
    grid-column: 2 / 7;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .logo-wrapper,
    .name-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
