.coin-row {
  td {
    .fav-img-wrapper {
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .rank-wrapper,
    .logo-wrapper,
    .name-wrapper,
    .price-wrapper,
    .marketCap-wrapper,
    .profit-loss-24h {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name-wrapper {
      flex-direction: column;
    }

    .percentage,
    .amount {
      margin: 0 5px;
    }
  }
}
