@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&family=Josefin+Sans:ital,wght@0,100;0,400;0,600;1,700&family=Lexend+Peta:wght@100;400;700;900&family=Lilita+One&family=Monomaniac+One&family=Pathway+Gothic+One&family=Poppins:wght@100;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Tsukimi+Rounded&display=swap");
/*

//font-family: 'Chakra Petch', sans-serif;
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Lexend Peta', sans-serif;
//font-family: 'Lilita One', cursive;
//font-family: 'Monomaniac One', sans-serif;
//font-family: 'Pathway Gothic One', sans-serif;
//font-family: 'Poppins', sans-serif;
//font-family: 'Space Grotesk', sans-serif;
//font-family: 'Tsukimi Rounded', sans-serif;

*/
:root {
  font-size: 17px;
  animation: fadeIn;
  animation-duration: 700ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

body {
  background-color: rgb(42, 47, 60);
  color: white;
}

#user-interface {
  overflow: hidden;
  overflow-x: clip;
  overflow-y: auto;
  max-width: 100%;
  position: relative;
  min-height: 100vh;
}
#user-interface .welcome-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 47, 60);
}
#user-interface .welcome-container .welcome-image {
  max-width: 10rem;
  border-radius: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  animation: fadeIn;
  animation-duration: 500ms;
}
#user-interface .welcome-container .welcome-text {
  font-family: "Lilita One", "Poppins", sans-serif;
  font-size: 3rem;
  color: rgb(240, 117, 10);
  text-align: center;
  animation: pulse;
  animation-duration: 5s;
}
#user-interface .welcome-container .welcome-slogan {
  font-family: "Tsukimi Rounded", "Poppins", sans-serif;
  color: rgb(240, 117, 10);
  animation: fadeInDown;
  animation-duration: 5s;
}
#user-interface .header-container {
  width: 100%;
  max-width: 100%;
  height: calc(7.1428571429vh + 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgb(60, 53, 53);
}
#user-interface .header-container .navbar {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#user-interface .header-container .navbar .logo-container {
  display: none;
}
#user-interface .header-container .navbar .logo-container .logo {
  max-width: 4rem;
  min-width: 2.5rem;
  padding: 1rem 0;
}
#user-interface .header-container .navbar .nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  overflow-x: auto;
  gap: 0.5rem;
}
#user-interface .header-container .navbar .nav-links::-webkit-scrollbar {
  width: 2rem;
  background-color: transparent;
}
#user-interface .header-container .navbar .nav-links::-webkit-scrollbar-track {
  background: rgb(42, 47, 60);
}
#user-interface .header-container .navbar .nav-links::-webkit-scrollbar-track:hover {
  background-color: rgb(60, 53, 53);
}
#user-interface .header-container .navbar .nav-links::-webkit-scrollbar-thumb {
  background: #fff;
  width: 1.5rem;
  border: 1px solid rgb(60, 53, 53);
}
#user-interface .header-container .navbar .nav-links::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 199, 89);
  cursor: grabbing;
}
#user-interface .header-container .navbar .nav-links .nav-link {
  list-style: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px dotted rgb(240, 117, 10);
  padding-right: 0.5rem;
  gap: 0.5rem;
  white-space: nowrap;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
}
#user-interface .header-container .navbar .nav-links .nav-link .coin-image {
  max-width: 1.425rem;
}
#user-interface .header-container .navbar .nav-links .nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-transform: capitalize;
}
#user-interface .main-container {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}
#user-interface .main-container .live-data-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Tsukimi Rounded", "Poppins", sans-serif;
}
#user-interface .main-container .live-data-container .coin-data-container {
  border: 1px solid rgb(240, 117, 10);
  max-width: 100%;
  height: 75px;
  overflow: hidden;
  font-family: "Monomaniac One", "Poppins", sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 4rem repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  row-gap: 1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding-inline: 0.5rem;
}
#user-interface .main-container .live-data-container .coin-data-container:focus {
  height: 160px;
}
#user-interface .main-container .live-data-container .coin-data-container:hover {
  cursor: pointer;
}
#user-interface .main-container .live-data-container .coin-data-container .coin-image-container .coin-image {
  width: 3.5rem;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: fadeIn;
  animation-duration: 500ms;
  padding: 0.5rem;
}
#user-interface .main-container .live-data-container .coin-data-container .coin-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
#user-interface .main-container .live-data-container .coin-data-container .coin-data .coin-data-header {
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
#user-interface .main-container .live-data-container .coin-data-container .coin-data .coin-data-value {
  font-family: "Pathway Gothic One", "Poppins", sans-serif;
  font-size: 1.3rem;
  white-space: nowrap;
}
#user-interface .footer-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(52, 199, 89);
  gap: 0.5rem;
  color: rgb(42, 47, 60);
  padding: 1rem;
  font-family: "Josefin Sans", "Poppins", sans-serif;
}
#user-interface .footer-container .footer-division .footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
#user-interface .error-container {
  background-color: rgb(240, 117, 10);
  color: #fff;
  font-family: "Josefin Sans", "Poppins", sans-serif;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  animation: flipInX;
  animation-duration: 700ms;
}
#user-interface .error-container .error-button {
  font-family: "Tsukimi Rounded", "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
#user-interface .animated-fade-out {
  animation: flipOutX;
  animation-duration: 500ms;
}/*# sourceMappingURL=style.css.map */