@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,600;1,700&family=Lilita+One&family=Poppins:wght@100;400;500;700;900&family=Tsukimi+Rounded&display=swap");

@mixin font-josefin {
  font-family: "Josefin Sans", "Poppins", sans-serif;
}
@mixin font-lilita {
  font-family: "Lilita One", "Poppins", sans-serif;
}
@mixin font-tsukimi {
  font-family: "Tsukimi Rounded", "Poppins", sans-serif;
}

$color-aqua: rgb(145 237 237);
$color-orange: rgb(240 117 10);
$color-background-beigeWhite: rgb(255 246 228);
$color-background-darkBlue: rgb(42, 47, 60);
$color-border-darkBrown: rgb(60, 53, 53);
$color-footer-background: rgb(52, 199, 89);

:root {
  font-size: 17px;
  animation: fadeIn;
  animation-duration: 700ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // smooth out the edges of the text and make it appear cleaner and more legible.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Remove highlight effect
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}
body {
  background-color: $color-background-darkBlue;
  color: white;
}

#user-interface {
  overflow: hidden;
  overflow-x: clip;
  overflow-y: auto;
  max-width: 100%;
  position: relative;
  min-height: 100vh;

  // Welcome Page
  .welcome-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: $color-aqua;
    background-color: $color-background-darkBlue;

    .welcome-image {
      max-width: 10rem;
      // aspect-ratio: 4 / 3;
      border-radius: 1rem;
      object-fit: contain;
      animation: fadeIn;
      animation-duration: 500ms;
    }

    .welcome-text {
      @include font-lilita();
      font-size: 3rem;
      color: $color-orange;
      text-align: center;
      animation: pulse;
      animation-duration: 5s;
    }

    .welcome-slogan {
      @include font-tsukimi();
      color: $color-orange;
      animation: fadeInDown;
      animation-duration: 5s;
    }
  }

  // Header
  .header-container {
    width: 100%;
    max-width: 100%;
    height: calc(100vh / 15 + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid $color-border-darkBrown;
    @include font-lilita();

    .navbar {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-container {
        .logo {
          max-width: 4rem;
          min-width: 2.5rem;
          padding: 1rem 0;
        }
      }

      .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        overflow-x: auto;
        gap: 0.5rem;

        &::-webkit-scrollbar {
          width: 2rem;
          background-color: transparent;

          &-track {
            background: $color-background-darkBlue;
            border-radius: 0.5rem;
          }

          &-thumb {
            background: #fff;
            border-radius: 0.3rem;
            width: 1.5rem;
            border: 1px solid $color-border-darkBrown;

            &:hover {
              background: $color-footer-background;
              cursor: grabbing;
            }
          }

        }

        .nav-link {
          list-style: none;
          min-width: fit-content;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-right: 1px dotted $color-orange;
          padding-right: 0.5rem;
          gap: 0.5rem;

          .coin-image {
            max-width: 1.425rem;
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  // Main content
  .main-container {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  // Footer
  .footer-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-footer-background;
    position: absolute;
    bottom: 0;
    color: $color-background-darkBlue;
    padding: 1rem;

    .footer-division {
      .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  // Error message
  .error-container {
    background-color: $color-orange;
    color: #fff;
    @include font-josefin();
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .error-button {
      @include font-tsukimi();
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
    }
  }
}
