@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&family=Josefin+Sans:ital,wght@0,100;0,400;0,600;1,700&family=Lexend+Peta:wght@100;400;700;900&family=Lilita+One&family=Monomaniac+One&family=Pathway+Gothic+One&family=Poppins:wght@100;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Tsukimi+Rounded&display=swap");

@mixin font-josefin {
  font-family: "Josefin Sans", "Poppins", sans-serif;
}
@mixin font-lilita {
  font-family: "Lilita One", "Poppins", sans-serif;
}
@mixin font-tsukimi {
  font-family: "Tsukimi Rounded", "Poppins", sans-serif;
}
@mixin font-lexend {
  font-family: "Lexend Peta", "Poppins", sans-serif;
}
@mixin font-pathway {
  font-family: "Pathway Gothic One", "Poppins", sans-serif;
}
@mixin font-monomaniac {
  font-family: "Monomaniac One", "Poppins", sans-serif;
}
@mixin font-space {
  font-family: "Space Grotesk", "Poppins", sans-serif;
}
@mixin font-chakra {
  font-family: "Chakra Petch", sans-serif;
}
@mixin font-poppins {
  font-family: "Poppins", sans-serif;
}

/*

//font-family: 'Chakra Petch', sans-serif;
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Lexend Peta', sans-serif;
//font-family: 'Lilita One', cursive;
//font-family: 'Monomaniac One', sans-serif;
//font-family: 'Pathway Gothic One', sans-serif;
//font-family: 'Poppins', sans-serif;
//font-family: 'Space Grotesk', sans-serif;
//font-family: 'Tsukimi Rounded', sans-serif;

*/

$color-aqua: rgb(145 237 237);
$color-orange: rgb(240 117 10);
$color-background-beigeWhite: rgb(255 246 228);
$color-background-darkBlue: rgb(42, 47, 60);
$color-border-darkBrown: rgb(60, 53, 53);
$color-footer-background: rgb(52, 199, 89);

:root {
  font-size: 17px;
  animation: fadeIn;
  animation-duration: 700ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // smooth out the edges of the text and make it appear cleaner and more legible.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Remove highlight effect
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}
body {
  background-color: $color-background-darkBlue;
  color: white;
}

#user-interface {
  // overflow: hidden;
  overflow-x: clip;
  overflow-y: auto;
  max-width: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  // Welcome Page
  .welcome-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: $color-aqua;
    background-color: $color-background-darkBlue;

    .welcome-image {
      max-width: 10rem;
      // aspect-ratio: 4 / 3;
      border-radius: 1rem;
      object-fit: contain;
      animation: fadeIn;
      animation-duration: 500ms;
    }

    .welcome-text {
      @include font-lilita();
      font-size: 3rem;
      color: $color-orange;
      text-align: center;
      animation: pulse;
      animation-duration: 5s;
    }

    .welcome-slogan {
      @include font-tsukimi();
      color: $color-orange;
      animation: fadeInDown;
      animation-duration: 5s;
    }
  }

  // Header
  .header-container {
    width: 100%;
    max-width: 100%;
    height: calc(100vh / 14 + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid $color-border-darkBrown;

    .navbar {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-container {
        // temp
        display: none;
        .logo {
          max-width: 4rem;
          min-width: 2.5rem;
          padding: 1rem 0;
        }
      }

      .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        overflow-x: auto;
        gap: 0.5rem;

        &::-webkit-scrollbar {
          width: 2rem;
          background-color: transparent;

          &-track {
            background: $color-background-darkBlue;
            // border-radius: 0.5rem;

            &:hover {
              background-color: $color-border-darkBrown;
            }
          }

          &-thumb {
            background: #fff;
            // border-radius: 0.3rem;
            width: 1.5rem;
            border: 1px solid $color-border-darkBrown;

            &:hover {
              background: $color-footer-background;
              cursor: grabbing;
            }
          }
        }

        .nav-link {
          list-style: none;
          min-width: fit-content;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-right: 1px dotted $color-orange;
          padding-right: 0.5rem;
          gap: 0.5rem;
          white-space: nowrap;
          @include font-chakra();
          font-size: 1.5rem;

          .coin-image {
            max-width: 1.425rem;
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  // Main content
  .main-container {
    width: 96%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // padding-block: 1rem;

    .live-data-container {
      width: 100%;
      max-width: 100%;
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: stretch;
      gap: 0.5rem;
      @include font-tsukimi();
      height: 67vh;
      overflow: auto;

      .coin-data-container {
        border: 1px solid $color-border-darkBrown;
        width: 100%;
        max-width: 100%;
        height: 75px;
        overflow: hidden;
        @include font-monomaniac();
        text-align: center;
        display: grid;
        grid-template-columns: 4rem repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        place-items: center;
        row-gap: 1rem;
        column-gap: 0.5rem;
        padding-inline: 0.5rem;

        &:focus {
          height: 160px;
        }
        &:hover {
          cursor: pointer;
        }

        .coin-image-container {
          .coin-image {
            width: 3.5rem;
            max-width: 100%;
            object-fit: contain;
            animation: fadeIn;
            animation-duration: 500ms;
            padding: 0.5rem;
          }
        }

        .coin-data {
          // border: 1px dashed $color-orange;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          width: 100%;

          .coin-data-header {
            @include font-poppins();
            white-space: nowrap;
            // display: none;
          }
          .coin-data-value {
            width: 100%;
            @include font-pathway();
            font-size: 1.3rem;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            justify-content: center;
          }

          .vs-currency {
            color: $color-orange;
            padding-inline: 0.5rem;
            text-transform: uppercase;
            @include font-lilita();
            font-size: 1rem;
          }
        }

        .coin-price {
          .coin-data-value {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: end;

            .vs-currency {
              justify-self: start;
            }
          }
        }
      }
    }

    .hero-container {
      width: 50%;
      max-width: 50%;
      height: 4.4rem;
      background-color: $color-orange;
      display: none;

      .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 67vh;
        overflow: hidden;
        border-bottom: 1px solid $color-orange;
        border-right: 1px solid $color-orange;

        #hero-title {
          @include font-lilita();
          text-align: center;
          font-size: calc(100vw / 13 - 1rem);
          text-transform: uppercase;
        }

        .subscription-form-container {
          width: 100%;
          .subscription-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;

            .subscription-form-title-container {
              .subscription-form-title {
                @include font-tsukimi();
                font-size: calc(100vw / 23 - 1rem);
                text-transform: uppercase;
              }
            }

            .subscription-form-input-container {
              .subscription-form-input {
                @include font-tsukimi();
                font-size: 1.1rem;
                text-transform: uppercase;
                padding: 0.5rem;
                border: 1px solid rgb(240, 117, 10);
                border-radius: 0.5rem;
                width: 28rem;
                max-width: 100%;
                height: 3rem;
              }
            }

            .subscription-form-button-container {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 2rem;

              .subscription-form-button {
                color: #fff;
                background-color: $color-orange;
                font-weight: 600;
                padding: 0.5rem 1rem;
                border: none;
                @include font-tsukimi();
                font-size: 1.1rem;

                &:hover {
                  cursor: pointer;
                  background-color: $color-footer-background;
                }
              }
            }
          }
        }
      }
    }
  }

  // Footer
  .footer-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-footer-background;
    // position: absolute;
    // bottom: 0;
    gap: 0.5rem;
    color: $color-background-darkBlue;
    padding: 1rem;
    @include font-josefin();

    .footer-division {
      .footer-links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  // Global Styles
  // Error message
  .error-container {
    background-color: $color-orange;
    color: #fff;
    @include font-josefin();
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    animation: flipInX;
    animation-duration: 700ms;
    .error-button {
      @include font-tsukimi();
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
    }
  }

  // Fadeout animation for close buttons
  .animated-fade-out {
    animation: flipOutX;
    animation-duration: 500ms;
  }
}
